.home-container {
  text-align: center;
}

.hero-image-container {
  position: relative;
  display: inline-block;
}

.hero-image {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.gallery-link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.gallery-link:hover {
  background-color: #0056b3;
}
